[package]
name = "web-rwkv"
version = "0.3.2"
edition = "2021"
authors = ["Zhenyuan Zhang <cryscan@umich.edu>"]
license = "MIT OR Apache-2.0"
description = "An implementation of the RWKV language model in pure WebGPU."
homepage = "https://github.com/cryscan/web-rwkv"
repository = "https://github.com/cryscan/web-rwkv"
keywords = ["deep-learning", "language", "model", "rwkv"]
categories = ["science", "text-processing"]
exclude = ["assets/", "crates/", "screenshots/"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
wgpu = "0.17"
bytemuck = { version = "1.13", features = ["extern_crate_alloc"] }
half = { version = "2.2", features = ["bytemuck"] }
safetensors = "0.3.1"
flume = "0.10"
regex = "1.8.4"
uid = "0.1"
ahash = "0.8"
bitflags = "2.3"
derive-getters = "0.3"
lazy_static = "1.4"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
anyhow = "1"
itertools = "0.11"
log = "0.4"
web-rwkv-derive = { version = "0.2.0", path = "crates/web-rwkv-derive" }

[dev-dependencies]
pollster = "0.3.0"
memmap2 = "0.7"
fastrand = "2.0"
wgpu-profiler = "0.14.1"
clap = { version = "4.3", features = ["derive"] }
dialoguer = "0.10"
ratatui = { version = "0.23.0", features = ["all-widgets"] }
crossterm = "0.27"

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
web-sys = { version = "0.3", features = ["File"] }
console_error_panic_hook = "0.1.7"
console_log = "1.0.0"
log = "0.4"
itertools = "0.11"
fastrand = { version = "2.0", features = ['js'] }

[profile.release]
lto = true
